* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: #eeeeee;
  color: #123147;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-image: url("/assets/image/marvel1.jpg");
  background-size: cover;
  background-position: center 50px;
  text-align: center;
  color: white;
}

.jumbotron h1 a {
  text-decoration: none;
  color: white;
  text-shadow: 3px 5px 2px black;
}

.jumbotron p {
  color: white;
  text-shadow: 1px 2px 1px black;
}

nav {
  background: #222831;
  padding: 0.5px;

  position: sticky;
  top: 0;
}

nav a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  transition: all 0.2 ease-in-out;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
}

nav a:hover {
  background: #393e46;
  color: white;
  font-weight: bold;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;

  justify-content: center;
}

nav li {
  list-style: none;
}

main {
  padding: 20px;

  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

aside {
  flex: 1;
}

.card {
  text-align: left;
  box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, 0.08);
  border-radius: 24px;

  padding: 50px 70px;
}

.profile header {
  text-align: center;
}

.profile header p {
  font-size: 13px;
}

.profile img {
  width: 160px;
}

footer {
  padding: 20px;
  color: white;
  background: #222831;
  text-align: center;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: white;
}

h1,
h4 {
  color: #e7eaf6;
  text-transform: uppercase;
}

h2,
h3 {
  color: #393e46;
}

.feature-image {
  width: 100%;
  max-height: 570px;
  object-fit: cover;
  object-position: center -200px;
  border-radius: 16px;
}

.feature-image-2 {
  width: 100%;
  max-height: 570px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
}

.aside__section {
  font-size: 13px;
}

.aside__section h3 {
  text-align: center;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media (max-width: 768px) {
  main aside {
    align-self: stretch;
  }

  .feature-image {
    width: 100%;
    max-height: 470px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  .feature-image-2 {
    width: 100%;
    max-height: 470px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
  }
}
